[pretix]
instance_name=tix.stardust.dpsg-paderborn.de
url=https://tix.stardust.dpsg-paderborn.de
currency=EUR
datadir=/data
loglevel=INFO

[locale]
default=de 
timezone=Europe/Berlin

##### Internal - No need for changing #####
[database]
backend=postgresql
name=pretix
user=pretix
password=pretix
host=postgres
port=5432
###########################################

##### Internal - No need for changing #####
[redis]
location=redis://redis/0
sessions=true
###########################################

##### Internal - No need for changing #####
[celery]
backend=redis://redis/1
broker=redis://redis/2
###########################################

[mail]
from = roboter@dpsg-paderborn.de
##### Internal - No need for changing #####
host = postfix
port = 25
###########################################

[metrics]
enabled=true
user=proxmox-prometheus
passphrase=ZS9JrNEAfMFqgjsfQM23pSzufqDAhAzghPWxaMqDUjpRVkrVQpFt5pbbX4KQkfZ5dQd5EpY7odtnT7XFPz9nwRZRvvhcRqVNaT4taEpzkqbzcxd2cCUvQAamNXopWF53
